body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(155, 101, 101);
    line-height: 1.6;
}

header{
    background-color: cadetblue;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
p{
    font-size: 1.5rem;
    text-align: center;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

.education, .area-of-interest, .technical-expertise, .certificates, .achievements, .additional-languages, .internships, .projects {
    color: #000;
}

.projects h2 {
    margin-top: 20px;
    color: #555;
    border-radius: 2px solid #cf6d6d;
    padding-bottom: 2px;

}

.projects p {
    margin: 10px 0;
}